.navbar {
    background: #005fdb;
    min-height: 70px;
    position: fixed 0;
    width: 100%;
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
}

.nav-item {
    width: 30%;
    display: inline-block;
    padding: 26px 0;
    text-align: left
}

a {
    font-weight: 900;
    text-decoration: none;
    color: white;
}